<div class="social-media__buttons">
  <%= link_to user_google_oauth2_omniauth_authorize_path, method: :post, class: "social-media__buttons--google" do %>
    <i class="fab fa-google"></i>
  <% end %>
  <%= link_to user_facebook_omniauth_authorize_path, method: :post, class: "social-media__buttons--facebook" do %>
    <i class="fab fa-facebook-f"></i>
  <% end %>
</div>