<article class="cell medium-4">
  <ul class="accordion" role="tablist" data-accordion data-allow-all-closed="true" data-multi-expand="true">
    <li class="accordion-item" data-accordion-item>
      <a href="#panel11a" role="tab" class="accordion-title" id="panel11a-heading" aria-controls="panel11a">Accordion 1</a>
        <div id="panel11a" class="accordion-content" role="tabpanel" data-tab-content aria-labelledby="panel11a-heading">
        Answer 1
        </div>
    </li>
    <li class="accordion-item" data-accordion-item>
      <a href="#" class="accordion-title">Character 2</a>
      <div class="accordion-content" data-tab-content>
        <p>Here is a snippet of the description for this character</p>
        <a href="#">View more</a>
      </div>
    </li>
  </ul>
</article>