// 1. Navigation
// 2. Links
// 3. Switch
// 4. Form
// 5. Social Media Buttons
// 6. Authentication
// 7. Alerts
// 8. Badges

body.dark {
  // Navigation overrides

  background: $base-mid;
  color: $base-mid-contrast;
  .top-bar,
  .top-bar .dropdown.menu,
  .top-bar li a {
    background-color: $base-dark;
    color: white;
    text-decoration: none;
  }

  .navigation__sub-menu {
    a {
      color: white;
      text-decoration: none;
    }
  }

  // Link overrides

  a {
    color: $dark-theme-link;
    &.button.primary {
      background-color: $base-dark-contrast;
      border-color: $base-mid-contrast;
      color: white;
      text-decoration: none;
      letter-spacing: 1px;
      &:hover {
        background-color: $base-mid-contrast;
        font-weight: bold;
        box-shadow: 0 0 5px $base-mid-contrast;
      }
      &:focus {
        box-shadow: 0 0 5px $base-mid-contrast;
      }
    }

    &.button.warning {
      background-color: $base-dark;
      border-color: $dark-theme-link;
      color: $dark-theme-link;
      font-weight: bold;
      text-decoration: none;
      letter-spacing: 1px;
      &:hover,
      &:focus {
        background-color: $dark-theme-link;
        box-shadow: 0 0 5px $dark-theme-link;
        color: $base-dark;
      }
      &:hover {
        &:before,
        &:after {
          @include here-be-dragons();
        }
      }
    }
  }

  // Switch overrides

  .switch.large .switch-paddle::after {
    @include switch-icon("\f6d9");
  }

  // Forms

  .form__container {
    background-color: $base-dark;
    border-color: $base-mid-contrast;
    h2, p, label {
      color: white;
    }

    label {
      letter-spacing: 1px;
      font-style: normal;
    }

    a {
      color: $base-mid-contrast;
      &:hover {
        color: lighten($base-mid-contrast, 10%);
      }
    }

    .button.primary {
      background-color: $base-dark-contrast;
      color: white;
      &:hover {
        background-color: $base-mid-contrast
      }
    }

    hr {
      border-color: white;
    }

    input,
    textarea,
    select {
      background-color: $base-mid;
      border-color: $base-mid-contrast;
      color: $base-mid-contrast;
      font-weight: bold;
      letter-spacing: 1px;
      &:focus,
      &:hover {
        box-shadow: 0 0 5px $base-mid-contrast;
      }
    }
  }

  .accordion {
    background-color: $base-mid;
    .accordion-title {
      border-color: $base-mid-contrast;
      letter-spacing: 1px;
      color: $base-mid-contrast;
      font-weight: bold;
      &:hover,
      &:focus {
        box-shadow: 0 0 5px $base-mid-contrast;
        background-color: $base-mid-contrast;
        color: white;
      }
    }
    .accordion-content {
      background-color: $base-dark;
      border-color: $base-mid-contrast;
      color: white;
      p {
        margin-bottom: 0.5em;
      }
    }
  }

  // Social Media Buttons

  a.social-media__buttons--google,
  a.social-media__buttons--facebook {
    background: $base-mid;
    border: 1px dashed $base-mid-contrast;
    color: $dark-theme-link;
    text-decoration: none;
    &:hover {
      background: $dark-theme-link;
      color: $base-mid-contrast;
      border: 1px $dark-theme-link solid;
    }
  }

  // Authentication
  .authentication__container {
    border-color: $base-mid-contrast;
    p {
      background: $base-dark;
      color: $base-mid-contrast;
    }
  }

  //  Alerts

  .alert {
    &.alert-notice {
      color: $dark-theme-link;
      background-color: $base-mid;
      border: 1px dashed $dark-theme-link;
    }
    &.alert-alert {
      color: $dark-theme-link;
      background-color: $dark-theme-warning-link;
      border: 1px dashed $dark-theme-link;
      &::before,
      &::after {
        @include here-be-dragons($dark-theme-link);
      }
    }
  }

  // Badges

  .badge--new {
    @include badge-customizer($dark-theme-link, $base-dark);
  }
  .badge--owner {
    @include badge-customizer($base-mid-contrast);
  }
}