body.dark {
  background: $base-mid;
  color: $base-mid-contrast;
  .top-bar,
  .top-bar .dropdown.menu,
  .top-bar li a {
    background-color: $base-dark;
    color: white;
  }

  .switch.large .switch-paddle::after {
    @include switch-icon("\f6d9");
  }

  .form__container {
    background-color: $base-dark;
    border-color: $base-mid-contrast;
    h2, p, label {
      color: white;
    }
    a {
      color: $base-mid-contrast;
      &:hover {
        color: lighten($base-mid-contrast, 10%);
      }
    }
    .button.primary {
      background-color: $base-dark-contrast;
      color: white;
      &:hover {
        background-color: $base-mid-contrast
      }
    }
    hr {
      border-color: white;
    }
    input {
      background-color: $base-mid;
      border-color: $base-mid-contrast;
      color: $base-mid-contrast;
      &:focus,
      &:hover {
        box-shadow: 0 0 5px $base-mid-contrast;
      }
    }
  }

  .navigation__sub-menu {
    a {
      color: white;
    }
  }

  .accordion {
    background-color: $base-mid;
    .accordion-title {
      border-color: $base-mid-contrast;
      letter-spacing: 1px;
      color: $base-mid-contrast;
      font-weight: bold;
      &:hover,
      &:focus {
        box-shadow: 0 0 5px $base-mid-contrast;
        background-color: $base-mid-contrast;
        color: white;
      }
    }
    .accordion-content {
      background-color: $base-dark;
      border-color: $base-mid-contrast;
      color: white;
      p {
        margin-bottom: 0.5em;
      }
    }
  }

  a.button.primary {
    background-color: $base-dark-contrast;
    border-color: $base-mid-contrast;
    color: white;
    &:hover {
      background-color: $base-mid-contrast;
      font-weight: bold;
      box-shadow: 0 0 5px $base-mid-contrast;
    }
    &:focus {
      box-shadow: 0 0 5px $base-mid-contrast;
    }
  }
}