<section class="cell small-12 medium-6 medium-offset-3">
  <article class="grid-x grid-margin-x grid-margin-y grid-padding-x form__container">
    <div class="cell">
      <h1>Edit Character</h1>
      <%= render "form" %>
    </div>
  </article>
</section>