.form__container {
  background: #fefefe;
  border: $global-border;
  position: relative;
  &--switch {
    @extend .switch;
    @extend .small;
    .switch-paddle {
      height: 0.7em;
      border-radius: 15px;
      margin-top: $global-margin;
      background: $black;
      &::after {
        border: 1px dashed $black;
        border-radius: 100%;
        top: -0.5em;
      }
    }
    input:checked ~ .switch-paddle {
      background: $dark-theme-link;
      &::after{
        border: 1px dashed $dark-theme-link;
      }
    }
  }
  label {
    margin-bottom: 1em;
  }
}

.form__container--inline {
  @extend .form__container;
  background: none;
  border: none;
  margin: 2em 0;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  .cell {
    background: white;
    border: $global-border;
    padding: $global-padding $global-padding * 2;
  }
  .button, .button_to { display: inline-block; }
}